<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>404 - xichuan</title>
    <meta name="author" content="pkfrom" />
    <meta name="keywords" content="404 page, css3, template, html5 template" />
    <meta name="description" content="404 - Page Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Libs CSS -->
    <link type="text/css" media="all" href="../css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" media="all" href="../css/404.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/favicon144x144.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/favicon114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/favicon72x72.png" />
    <link rel="apple-touch-icon" href="../img/favicons/favicon57x57.png" />
    <link rel="shortcut icon" href="../img/favicons/favicon.png" />
    <!-- Google Fonts -->
    <link href='../css/404font.css' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Load page -->
    <div class="animationload">
        <div class="loader">
        </div>
    </div>
    <!-- End load page -->

    <!-- Content Wrapper -->
    <div id="wrapper">
        <div class="container">
            <!-- Switcher -->
            <div class="switcher">
                <input id="sw" type="checkbox" class="switcher-value">
                <label for="sw" class="sw_btn"></label>
                <div class="bg"></div>
                <div class="text">Turn <span class="text-l">off</span><span class="text-d">on</span><br />the light</div>
            </div>
            <!-- End Switcher -->

            <!-- Dark version -->
            <div id="dark" class="row text-center">
                <div class="info">
                    <img src="../img/404-dark.png" alt="404 error" />
                    <p>The page you are looking for was moved, removed,<br />
                        renamed or might never existed.</p>
                    <!-- <a href="" class="btn">Go Home</a> -->
                </div>
            </div>
            <!-- End Dark version -->

            <!-- Light version -->
            <div id="light" class="row text-center">
                <!-- Info -->
                <div class="info">
                    <img src="../img/404-light.gif" alt="404 error" />
                    <!-- end Rabbit -->
                    <p>The page you are looking for was moved, removed,<br />
                        renamed or might never existed.</p>
                    <!-- <a href="" class="btn">Go Home</a> -->
                    <!--<a href="#" class="btn btn-brown">Contact Us</a>-->
                </div>
                <!-- end Info -->
            </div>
            <!-- End Light version -->

        </div>
        <!-- end container -->
    </div>
    <!-- end Content Wrapper -->


    <!-- Scripts -->
    <script src="../js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/modernizr.custom.js" type="text/javascript"></script>
    <script src="../js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="../js/404.min.js" type="text/javascript"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->

</body>
</html>